body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('https://ts1.cn.mm.bing.net/th/id/R-C.bca368999c89324985905ddd59ae44c4?rik=hNig0%2bzXI8g8Eg&riu=http%3a%2f%2fschool.nseac.com%2fimg%2fsch_img%2f10512.jpg&ehk=b6V%2fUhe1JiKnliG5gPcXUZZGZHkkyr%2fPRIXDucGvMfc%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 100px;
    height: auto;
}

h1 {
    margin: 0;
    color: #333;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #666;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
    color: #666;
}
